{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Missing People Are Real People</h1>
                <h2 class="text-white-50 mx-auto mt-4 mb-5">Human trafficking happens everywhere— cities, suburbs, small towns, and possibly <i>even in your own community</i>.</h2>
                <a class="btn btn-primary" href="#map">View Information</a>
            </div>            
        </div>
    </div>
</header>




{% endblock %}