{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">{{data.first_name}}</h1>
                <h2 class="text-white-50 mx-auto mt-4 mb-5">I am missing...</h2>
                <a class="btn btn-primary" href="#info">View Info</a>
            </div> 
        </div>
    </div>
</header>
<!-- <section class="projects-section bg-light" id="info">
    <p class="text-center"><b>Person Info</b></p>
    <div class="container mb-5">
        <ul class="list-group">
            <li class="list-group-item"><b>Date Missing: </b>{{data.date_missing}}</li>
            <li class="list-group-item"><b>Last Name: </b>{{data.last_name}}</li>
            <li class="list-group-item"><b>First Name: </b>{{data.first_name}}</li>
            <li class="list-group-item"><b>Age at Missing: </b>{{data.age_at_missing}}</li>
            <li class="list-group-item"><b>City: </b>{{data.city}}</li>
            <li class="list-group-item"><b>State: </b>{{data.state}}</li>
            <li class="list-group-item"><b>Gender: </b>{{data.gender}}</li>
            <li class="list-group-item"><b>Race: </b>{{data.race}}</li>
        </ul>
    </div>
</section> -->
<section class="projects-section bg-light" id="info">
    <p class="text-center"><b>Person Info</b></p>
    <div class="container mb-5">
<form >
    <label>Date Missing</label>
    <input type="text" value="{{data.date_missing}}">
    <br>
    <label>Last Name</label>
    <input type="text" value="{{data.last_name}}">   
    <br>
    <label>First Name</label>
    <input type="text" value="{{data.first_name}}">
    <br>
    <label>Age at Missing</label>
    <input type="text" value="{{data.age_at_missing}}"> 
    <br>
    <label>City</label>
    <input type="text" value="{{data.city}}"> 
    <br>
    <label>State</label>
    <input type="text" value="{{data.state}}"> 
    <br>
    <label>Gender</label>
    <input type="text" value="{{data.gender}}"> 
    <br>
    <label>Race</label>
    <input type="text" value="{{data.race}}">          
</form>     
</div>
</section>
{% endblock %}