{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Currently Missing</h1>
                <h2 class="text-white-50 mx-auto mt-4 mb-5">These are the victims of human trafficking. Some have been missing for over <i>10 years</i>. They stand as a reminder to us that these people are innocents, and we need to be their voice.</h2>
                <a class="btn btn-primary" href="#projects">View Table</a>
            </div>
        </div>
    </div>
</header>
<section class="projects-section bg-light" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5">
            <h3 class="text-center mb-5" style="font-weight: bolder">Utah Victims of Human Trafficking</h3>
                    
                <table class="table table-bordered table-striped table-hover table-condensed text-center" style="border: 1px solid black">
                        <tr>
                            <th title="Field #1">Date Missing</th>
                            <th title="Field #2">Last Name</th>
                            <th title="Field #3">First Name</th>
                            <th title="Field #4">Age At Missing</th>
                            <th title="Field #5">City</th>
                            <th title="Field #6">State</th>
                            <th title="Field #7">Gender</th>
                            <th title="Field #8">Race</th>
                            <th title="Field #8">More Details</th>
                        </tr>
                        {% for oPerson in data %}
                        <tr>
                            <td style="text-align: center; border:1px solid black;">{{oPerson.date_missing}}</td>
                            <td style="text-align: center; border:1px solid black;">{{oPerson.last_name}}</td>
                            <td style="text-align: center; border:1px solid black;">{{oPerson.first_name}}</td>
                            <td style="text-align: center; border:1px solid black;">{{oPerson.age_at_missing}}</td>
                            <td style="text-align: center; border:1px solid black;">{{oPerson.city}}</td>
                            <td style="text-align: center; border:1px solid black;">{{oPerson.state}}</td>
                            <td style="text-align: center; border:1px solid black;">{{oPerson.gender}}</td>
                            <td style="text-align: center; border:1px solid black;">{{oPerson.race}}</td>
                            <td>
                                <a type="button" class="btn btn-primary" href="{% url 'person' id=oPerson.id %}" name="myButton"> Click For Details</a>
                            </td>
                        </tr>
                        {% endfor %}
                </table>
                    
        </div>
    </div>
</section>

{% endblock %}